@model BGame.Models.GameItem
@{
    ViewData["Title"] = "GameDetail";
}

<div class="banner">
    <img src="@Url.Content(@Model.Image)" />
</div>
<div class="content">
    <h2>@Model.Name</h2>
    <p>@Model.Price</p>
    <p>@Model.Description</p>
    <p>@Model.Age</p>
    @*<p>@Model.GameTime</p>*@
    <p>@Model.Players</p>
    <p>@Model.Quantity</p>

    @if (User.Identity.IsAuthenticated)
    {
        <form asp-controller="Cart" asp-action="AddToCart" asp-route-pID="@Model.GameItemId" method="post">
            <input type="submit" value="Add to Cart"
                   class="w3-button w3-border w3-hover-black w3-round-xlarge w3-border-black">
        </form>
        @Html.Partial("_PartialAddCommentView", new Comment() { GameID = Model.GameItemId });
    }
    @foreach (Comment com in Model.Comments)
    {
        @Html.Partial("_PartialComment", com);
    }

</div>
