@model IEnumerable<GameItem>
@{ViewBag.Title = "Selling Game Items"; }

@if (Model.Count() != 0)
{
    foreach (GameItem obj in Model)
    {
        <img src="@Url.Content(@obj.Image)" style="width:650px" />
        <p><b>Game Name: </b>@obj.Name</p>
        <p><b>Game Price: </b>@obj.Price</p>
        <p><b>Stock Quantity: </b>@obj.Quantity</p>
        <p><b>For players above: </b>@obj.Age years old</p>
        <p><b>Players: </b>@obj.Players</p>
        <p>@obj.Description</p>
    }
}
else
{
    <center><h2>Start Selling Now!</h2></center>
    <br />
}
<div class="text-center">
    <a asp-action="Create" asp-controller="Game" class="btn btn-primary">Add Game Item</a>
</div>



